body {
}
h1 {
  text-align: center;
}
.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-signin {
  max-width: 220px;
  padding: 15px;
  margin: 0 auto;
  background: #eee;
  border-radius: 6px;
}
.form-signin ul {
  list-style-type: none;
  margin: 0;
}
.form-signin ul  li ul {
  color: red;
}
.form-signin input[type=submit] {
  margin-top: 15px;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.vote {
    font-size: 250%;
    vertical-align: middle;
}
.right-arrow {
  background-image: url(../img/right.png);
  height: 48px;
  width: 48px;
  margin-top: 50px;
}
.steps {
  height: 120px;
  width: 120px;
}
.steps-container li p {
  text-align: center;
}

.steps-container img {
  -webkit-filter: grayscale(0.3);
}
.steps-container img:hover {
  -webkit-filter: drop-shadow(0px 0px 10px gray) grayscale(0);
}
.steps-container.nav > li > a:hover,
.steps-container.nav-tabs > li > a:focus {
  background-color: none;
  border-color: none;
}
