.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.form-signin {
  max-width: 220px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin ul {
  list-style-type: none;
  margin: 0;
}
