{% extends "base.html"%}
{% block title %}Про Силу Мільйонів{% endblock %}
{% block body %}

<p>
В Україні формування політики та правил гри монополізовані
державною владою та політиками. Політичний процесс є закритим та
недосяжним для суспільства.
</p>
<p>
Майдан став викликом суспільства такій політиці, виступив з
вимогами участі громадян в розробці політики держави.
</p>
<p>
Майдан показав силу мільйонів, яка здатна протистояти силі владі.
</p>
<p>
Наш проект підтримує всіх активних громадян, які вийшли на
Майдан в їх прагненні змін системи.
</p>
<p>
Зміни стануть можливі лише за умови доступу громадян до впливу
на формування політики та правил гри – від Конституціі, законів до
рішень на місцевому рівні.
</p>
<p>
Наш проект створює можливості громадянам для <strong>формування
спільної позиціі та рішень</strong> через створення громадських петицій та
проведення громадських кампаній.
</p>
<p>
Наш проект створює <strong>можливості для просування петицій
на рівень реальних законів та рішень</strong> шляхом впливу на народних
та місцевих депутатів до виконання ними прямих обов’язків
представництва суспільних інтересів.
</p>
<p>
Ми віримо в силу спільних дій мільйонів українців, в їх здатність
провести зміни.
</p>

{% endblock body %}
