<!DOCTYPE html>
<head>
    <title>{% block title %}Crowd Power{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="brand">
                <a href="/">Сила Мільйонів</a></div>
            <ul class="nav">
                <li
                    {% if uri.startswith('/about') %}class="active"{% endif %}
                    ><a href="/about">Ідея проекту</a></li>
                <li
                    {% if uri.startswith('/issues')
                        or uri.startswith('/i/') %}class="active"{% endif %}
                    ><a href="/issues/all">Петиції</a></li>
                <li
                    {% if uri.startswith('/actions')
                        %}class="active"{% endif %}
                    ><a href="#">Пряма дія</a></li>
                <li
                    {% if uri.startswith('/deletages')
                        %}class="active"{% endif %}
                    ><a href="#">Результати</a></li>

                {% if user %}
                <li
                    ><a href="/profile">
                        Ви ввійшли як {{ user.firstname }} {{ user.lastname }}
                        </a></li>
                <li><a href="/logout">Вийти</a></li>
                {% else %}
                <li
                    {% if uri.startswith('/login') %}class="active"{% endif %}
                    ><a href="/login">Ввійти</a></li>
                <li
                    {% if uri.startswith('/register') %}class="active"{% endif %}
                    ><a href="/register">Реєстрація</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <h1>{{ self.title() }}</h1>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <footer class="footer">(c) 2013 CrowdPower Team</footer>
</body>
<script src="/js/vote.js" defer="defer"></script>
<iframe width=1 height=1 name="votetarget"></iframe>

<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=23517475&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23517475/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23517475,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23517475 = new Ya.Metrika({id:23517475,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23517475" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
