{% macro render_form(form, method='POST', submit_text="Submit") %}
<form class="form-signin" method="{{ method }}">
<ul>
{% for field in form %}
    <li>{{ field.label }} {{ field }}
        {% if field.errors %}
            <ul>
                {% for er in field.errors %}
                    <li>{{ er }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </li>
{% endfor %}
</ul>
<input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ submit_text }}">
</form>
{% endmacro %}
