{% from "util.html" import issue_row %}
{% extends "base.html"%}
{% block title %}{% endblock %}
{% block body %}
<h2>Свіжі надходження</h2>
<a class="btn btn-primary" style='float:right'
    href="/issues/all">Всі петиції</a>
<table class="table table-striped">
{% for i in recent_issues %}
    {{ issue_row(i, user) }}
{% endfor %}
</table>
<h2>Актуальні петиції</h2>
<a class="btn btn-primary" style='float:right'
    href="/issues/all">Всі петиції</a>
<table class="table table-striped">
{% for i in rated_issues %}
    {{ issue_row(i, user) }}
{% endfor %}
</table>
{% endblock body %}
