{% macro issue_row(issue, user) %}
<tr>
    <td class="marker">#<a href="/i/{{ issue.id }}">{{ issue.id }}</a>
    </td><td>
        {{ issue.brief }}
    </td><td>
        {% for tl, t in issue.tag_links() %}
            <a href="{{ tl }}" class='label'>{{ t }}</a>
        {% endfor %}
    </td><td>
        {% for ll, l in issue.level_links() %}
            <a href="{{ ll }}" class='label label-info'>{{ l }}</a>
        {% endfor %}
    </td>
    <td>
        {% if issue.uid == user.uid or user.admin %}
            <a href="/issues/edit/{{ issue.id }}" class="btn btn-warning">Редагувати</a>
        {% endif %}
    </td>
    <td nowrap="nowrap">
        <form target="votetarget" method="POST" action="/issues/vote">
         Голосів:
            <span class="vote" id="votes_{{ issue.id }}">{{ issue.votes }}</span>
        <input type="hidden" name="issue" value="{{ issue.id }}">
        {% if user.uid %}
            {% if issue.user_voted %}
            <button class="btn" disabled="disabled">Підтримано</button>
            {% else %}
            <button class="btn" type="submit">Підтримати</button>
            {% endif %}
        {% endif %}
    </form></td>
</tr>
{% endmacro %}

{% macro tags_header(tags) %}
    {% for t in tags %}
        <a href="/issues/tag/{{ t.tag }}" class='label'>
            {{ t.title }} ({{ t.issues }})</a>
    {% endfor %}
{% endmacro %}

{% macro big_crappy_steps() %}
    <ul class="steps-container nav nav-tabs span10 center-block">
        <li><a href="#"><img src="/img/steps/1.png" /><p>Перший крок</p></a></li>
        <li class="right-arrow"></li>
        <li><a href="#"><img src="/img/steps/2.png" /><p>Другий крок</p></a></li>
        <li class="right-arrow"></li>
        <li><a href="#"><img src="/img/steps/3.png" /><p>Третій крок</p></a></li>
        <li class="right-arrow"></li>
        <li><a href="#"><img src="/img/steps/4.png" /><p>Четвертий крок</p></a></li>
    </ul>
{% endmacro %}
